<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">Ask me anything!</label>
    <input type="text" name="question" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your question here.">
  </div>
  <button type="submit" value="Ask!" class="btn btn-primary">Ask!</button>
</form>
